#!/usr/bin/env bash
#
# Install initial packages.

echo "running first init on {{ .chezmoi.os }}"

echo "Installing Dependencies"
{{ if eq .chezmoi.os "darwin" }}
if ! command -v brew >/dev/null 2>&1; then
  echo " -> Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo " -> Installing coreutils"
brew install coreutils

if ! command -v tmux >/dev/null 2>&1; then
  echo " -> Installing tmux"
  brew install tmux
fi

if ! command -v fzf >/dev/null 2>&1; then
  echo " -> Installing fzf"
  brew install fzf
fi

if ! command -v nvim >/dev/null 2>&1; then
  echo " -> Installing nvim"
  brew install nvim
fi

if ! command -v kubectl >/dev/null 2>&1; then
  echo " -> Installing kubectl"
  brew install kubectl
fi

if ! command -v zplug >/dev/null 2>&1; then
  echo " -> Installing zplug"
  brew install zplug
fi

if ! command -v fd >/dev/null 2>&1; then
  echo " -> Installing fd"
  brew install fd
fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}
echo "Linux depedencies are unmanaged by chezmoi dotfiles right now."
{{ end }}

echo " -> Installing krew"
(
  set -x; cd "$(mktemp -d)" &&
  OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
  ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
  KREW="krew-${OS}_${ARCH}" &&
  curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
  tar zxvf "${KREW}.tar.gz" &&
  ./"${KREW}" install krew
)
